include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include filesmanager *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
include filesmanager/static/html/manifest.json
include filesmanager/static/html/*.js
include filesmanager/static/html/*.css
